/* @page {
  size: A4 potrait;
  margin: 1;
} */
@media print { 
    @page {
    size: A4 potrait;
    margin: 0,5px;
  }
 } 
body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 700;
}

.head {
  font-weight: 600;
}
.t-sign {
  margin-top: 100px;
}
.white {
  color: #ffff;
}

